<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AWS Giga app demo</title>

    <!-- Bootstrap -->
    <!--<link href="{% static 'css/bootstrap-fluid-adj.css' %}" rel="stylesheet">-->
    <!--<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">-->
    <!--<link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">-->

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/heroic-features.css' %}" rel="stylesheet">

    <!-- Cytoscape CSS -->
    <link href="{% static 'css/cytoscape.css' %}" rel="stylesheet">

    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->

    <title>GigaNapp - {% block title %}How to Tango with Django!{% endblock %}</title>
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://www.gigasciencejournal.com">
                    <img alt="GigaScience" height="20" src="{% static "images/G.png" %}">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/giganapp/papers/">Papers</a>
                    </li>
                    <li>
                        <a href="/giganapp/figures/">Figures</a>
                    </li>
                    <li>
                        <a href="/giganapp/tables/">Tables</a>
                    </li>
                    <li>
                        <a href="#">Workflows</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/giganapp/">Home</a>
                    </li>
                    {% if not user.is_authenticated %}
                    <li>
                        <a href="/giganapp/register">Register</a>
                    </li>
                    {% endif %}
                    <li>
                        {% if user.is_authenticated %}
                        <a href="/giganapp/logout">Logout</a>
                        {% else %}
                        <a href="/giganapp/login">Login</a>
                        {% endif %}
                    </li>
                    <li class="dropdown">
                        {% if user.is_authenticated %}
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ user.username }}'s stuff <span class="caret"></span></a>
                        {% else %}
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Your stuff <span class="caret"></span></a>
                        {% endif %}

                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Papers</a></li>
                          <li><a href="#">Figures</a></li>
                          <li><a href="#">Tables</a></li>
                            <li><a href="#">Workflows</a></li>
                        </ul>
                     </li>
                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        {% block body_block %}{% endblock %}


    </div>

        <!-- Footer -->
    <div class="container">
        <hr>
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; GigaScience 2014</p>
                </div>
            </div>
        </footer>
    </div>

    <script src="{% static 'js/jquery-2.1.1.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>