{% extends 'gigafig/base.html' %}

{% load staticfiles %}

{% block body_block %}

<!-- Page Features -->

<!-- Title -->
<div class="row">
    <div class="col-lg-12">
        <h3>Tables</h3>
    </div>
</div>

<div class="row text-center">
    {% if tables %}
        <table class="table table-hover">
            <tr>
                <th>
                    Preview
                </th>
                <th>
                    Title
                </th>
                <th>
                    Paper
                </th>
                <th>
                    Workflow
                </th>
            </tr>
            {% for table in tables %}
            <tr>
                <td class="text-left">
                    <img src="{{ table.tbn_file }}" alt="Picture of GigaScience" />
                </td>
                <td class="text-left">
                    <a href="{{ table.url }}">{{ table.title }}</a>
                </td>
                <td class="text-left">
                    <a href="/gigafig/paper/{{ table.paper.short_name }}">doi:10.1186/{{ table.paper.doi_suffix }}</a>
                </td>
                <td class="text-left">
                    {% if table.wf_js == "" %}
                    No
                    {% else %}
                    <a href="/gigafig/paper/{{ paper.short_name }}/workflow/{{ table.wf_name }}">Yes</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <strong>No tables in paper.</strong>
    {% endif %}
</div>
<!-- /.row -->

{% endblock %}