{% extends 'gigafig/base.html' %}

{% load staticfiles %}

{% block title %}{{ paper.short_name }}{% endblock %}

{% block body_block %}

    <ol class="breadcrumb">
        <li><a href="/gigafig/papers/">Papers</a></li>
        <li>
            <a href="/gigafig/paper/{{ paper.short_name }}">{{ paper.short_name }}</a>
        </li>
        <li class="active">{{ wf.name }}</li>
    </ol>

    <div id="wf_info"
         data-galaxy_wf_id="{{ wf.galaxy_id }}"
         data-galaxy_history_id="{{ wf.history_id }}"
         data-wf_title="{{ wf.title }}"
         data-wf_description="{{ wf.description }}">
    </div>


    <!-- <div class="col-md-8"> -->
    <div class="col-md-6">
        <!-- Cytoscape graph is displayed in the cy element -->
        <div id="cy" data-galaxy_wf_id="{{ wf.galaxy_id }}"
             data-galaxy_history_id="{{ wf.history_id }}"></div>
        <div id="loading">
            <span class="fa fa-refresh fa-spin"></span>
        </div>
    </div>

    <div class="col-md-6">

        <!--
        <div id="tb"></div>

        <ul class="nav nav-tabs">
            <li class="active">
                <a id="tab1" href="#pane1" data-toggle="tab">Info</a>
            </li>
            <li>
                <div id="ToolsTabViewTemplate"></div>
                <a id="tab2" href="#pane2" data-toggle="tab">Tools</a>
            </li>
            <li>
                <div id="AWSTabViewTemplate"></div>
                <a id="tab3" href="#pane3" data-toggle="tab">AWS</a>
            </li>
        </ul>

        <div class="tab-content" style="height: 250px; overflow-y:scroll;">
            <br>
            <div id="pane1" class="tab-pane active">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ wf.title }}</h3>
                    </div>
                    <div id="wf_description" class="panel-body">
                        <p>{{ wf.description }}</p>
                    </div>
                </div>
            </div>

            <div id="tab_container" data-galaxy_wf_id="{{ wf.galaxy_id }}"
                 data-galaxy_history_id="{{ wf.history_id }}">Loading...
            </div>

            <div id="pane2" class="tab-pane">
                <div class="panel panel-default panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">Data inputs</h3>
                    </div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>

                <div class="panel panel-default panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Data outputs</h3>
                    </div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>

                <div class="panel panel-default panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Tools</h3>
                    </div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
            </div>
            <div id="pane3" class="tab-pane">
                <div class="panel panel-default panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title">AWS</h3>
                    </div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
            </div>
        </div>
        -->

        <section id="tabs">
            <ul class='nav nav-tabs'></ul>
            <br>
            <div></div>
        </section>

        <script type="text/template" id="label-tmpl">
            <li class="active"><a href="#"></a></li>
        </script>
        <script type="text/template" id="content-tmpl">
            <span class="deactive"></span>
        </script>

    </div>

    <script src="{% static 'js/lib/jquery-2.1.1.js' %}"></script>
    <script src="{% static 'js/lib/bootstrap.min.js' %}"></script>

    <script src="{% static 'js/lib/underscore-min.js' %}"></script>
    <script src="{% static 'js/lib/backbone-min.js' %}"></script>
    <script src="{% static 'js/lib/backbone.localStorage.js' %}"></script>
    <script src="{% static 'js/lib/dagre.js' %}"></script>
    <script src="{% static 'js/lib/cytoscape.js' %}"></script>
    <script src="{% static 'js/lib/bluebird-min-1.2.2.js' %}"></script>
    <script src="{% static 'js/cy-viz.js' %}"></script>
    <script src="{% static 'js/backbone/views/tab-view.js' %}"></script>
    <script src="{% static 'js/backbone/views/tab-view-new.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>

    <style type='text/css'>
        .deactive {
            display: none;
        }
    </style>

{% endblock %}